.ripple {
  width: 8px;
  height: 8px;
  background-color: transparent;
  position: fixed;
  border-radius: 8px;
  border: 1px solid #ffff59;
  opacity: 0;
}

/* --------------transition---------------- */
.ripple-transition-exit {
  transform: scale(1);
  opacity: 1;
}

.ripple-transition-exit-active {
  transform: scale(8);
  opacity: 0;
  transition: all 400ms linear;
}
